<div id="metricsResultsPage">
<h1><strong><font color="black">Degree Metrics</font></stong></h1>
<h4><strong>Results</strong></h4>

Degree:<%=Dept::DEPT_OPTIONS.key(Dept.last.dept_id)%><p>
Metric:<%=Metric::METRIC_OPTIONS.key(Metric.last.metric_id)%><p>
<!--Degree:<%=Dept.last.dept_id%><p>-->
<!--And metric:<%=Metric.last.metric_id%><p>-->
<!--<%= form_tag("/metrics/hadoop", method: "get", remote: true) do %>
  <%= submit_tag("Get results(runs script and creates assets/out file)") %>
<% end %> -->
<!--DISPLAY RESULTS HERE-->
<div id="meticsresults" class="center jumbotron">
<%=MetricsController::displaymetric%>
<!--<%=MetricsController::getArrays%>-->
<!--Chart ?? -->
<div id="chart_div" "width: 900px; height: 500px;"></div>
</div>

<!--Chart ?? -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      var metricid="<%=Metric::METRIC_OPTIONS[
      Metric::METRIC_OPTIONS.key(Metric.last.metric_id)]%>" //TO GET METRIC ID 1 2 3, ETC..
      //alert(metricid);
      metricid=parseInt(metricid)
      if (metricid==3){
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        //alert(metricid);
          function givecolor(){
            return '#'+Math.floor(Math.random()*16777215).toString(16);
          }
          var gpa ="<%= if(Metric::METRIC_OPTIONS[
          Metric::METRIC_OPTIONS.key(Metric.last.metric_id)]==3)
          MetricsController::getgpa.to_json
          end
          %>";
          //var term= new Array("<%=MetricsController::getTerm.to_json%>");
          var term="<%=MetricsController::getTerm.to_json%>";
          gpa=gpa.substring(1,gpa.length-1) //remove [] from te string
          term=term.substring(1,term.length-1)
          var elements=term.split(",");
          var termArray=[];
          //alert(elements.length);
          for (var i = 0; i < elements.length; i++) {
            termArray.push(parseFloat(elements[i]));
          }
          var elements=gpa.split(",");
          var gpaArray=[];
          var colorArray=[];
          //alert(elements.length);
          for (var i = 0; i < elements.length; i++) {
            gpaArray.push(parseFloat(elements[i]));
            colorArray.push(givecolor());
          }
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'TERM');
            data.addColumn('number', 'GPA');

            for(i = 0; i < gpaArray.length; i++)
              data.addRow([termArray[i], gpaArray[i]]);

          var options = {
            title: 'Av GPA PER TERM',
            backgroundColor: "transparent",
            stroke: 'white',
            colors: colorArray,
            vAxis: {title: 'Term',  titleTextStyle: {color: 'black'}},
            hAxis: {title: 'GPA',  titleTextStyle: {color: 'black'}},
            'chartArea': {

              'backgroundColor': {
                //'opacity': .2,
                'stroke': 'black',
                'strokeWidth': 2,
                  'fill': '#F4F4F4',
                  'fill-opacity': .2,
                  'fill': "transparent"
               }
           }

          };

          var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

          chart.draw(data, options);
        }
      }
      /* JUST EVIL ALWAYS EXECUTES,,,
      else if(metricid==4){
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          //alert(metricid);
            function givecolor(){
              return '#'+Math.floor(Math.random()*16777215).toString(16);
            }
            var gpa2 = "<%=if(Metric::METRIC_OPTIONS[
            Metric::METRIC_OPTIONS.key(Metric.last.metric_id)]==4)
            MetricsController::getgpa.to_json
            end
            %>";
            var course="<%=MetricsController::getCourse.to_json%>";
            gpa2=gpa2.substring(1,gpa2.length-1);//remove [] from te string
            course=course.substring(1,course.length-1);
            course=course.replace(/&quot;/g,"") //remove &qoute PLEASE
            var elements=course.split(",");
            var courseArray=[];
            for (var i = 0; i < elements.length; i++) {
              courseArray.push(elements[i]);
            }
            var elements=gpa2.split(",");
            var gpaArray2=[];
            var colorArray=[];
            //alert(elements.length);
            for (var i = 0; i < elements.length; i++) {
              gpaArray2.push(parseFloat(elements[i]));
              colorArray.push(givecolor());
            }
              var data2 = new google.visualization.DataTable();
              data2.addColumn('string', 'Course');
              data2.addColumn('number', 'GPA');

              for(i = 0; i < gpaArray2.length; i++)
                data2.addRow([courseArray[i], gpaArray2[i]]);

              var chartAreaHeight = data2.getNumberOfRows() * 30;
              var chartHeight = chartAreaHeight + 80;

            var options = {
              title: 'Av GPA PER COURSE',
              height: chartHeight,
              backgroundColor: "transparent",
              stroke: 'white',
              colors: colorArray,
              vAxis: {title: 'COURSE',  titleTextStyle: {color: 'black'}},
              hAxis: {title: 'GPA',  titleTextStyle: {color: 'black'}},
              'chartArea': {
                'height': chartAreaHeight,
                'backgroundColor': {
                  //'opacity': .2,
                  'stroke': 'black',
                  'strokeWidth': 2,
                    'fill': '#F4F4F4',
                    'fill-opacity': .2,
                    'fill': "transparent"}
             }
            };

            var chart2 = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart2.draw(data2, options);



          }
      }*/
    </script>
<p>
</div> <!-- metrics result end-->

<p>
</id>



<!--<%=%x(ls ~)%>--> <!-- just testing..-->
