<%= form_for(@metric) do |f| %>
  <% if @metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% @metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :metricname %><br>
    <%= f.text_field :metricname %>
  </div>
  <div class="field">
    <%= f.label :metric_id %><br>
    <%= f.number_field :metric_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
