<p>
<h1><strong><font color="black">Compute Degree Metrics</font></stong></h1>
<p>
<p>
<p>
<%= form_for(:dept) do |dept_form| %>
<p>
Please select the Department:
<%= dept_form.select(:dept, Dept::DEPT_OPTIONS) %>
</p>
<p>
Please select the Metric:
<%=fields_for :metric do |metric_form| %>
<%= metric_form.select(:metric, Metric::METRIC_OPTIONS) %>
<% end %>
</p>
<p>
<%= dept_form.submit "Submit" %>
</p>
<% end %>
<!--<%=Metric::METRIC_OPTIONS["%TRACK"].to_s%>-->

<p><p><p><p><p><p><p>
<a class="btn btn-default username_link"
href=<%=static_pages_metricresults_path%>>Go to Results</a>
<script>
function myFunction() {
alert($('#metricSel option:selected').text()+ ": "+
$('#deptSel option:selected').text());
var1=$('#deptSel option:selected').text();
var2=$('#metricSel option:selected').text();
}
</script>
