<!--<h1>Listing metrics</h1>

<table>
  <thead>
    <tr>
      <th>Metricname</th>
      <th>Metric</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= metric.metricname %></td>
        <td><%= metric.metric_id %></td>
        <td><%= link_to 'Show', metric %></td>
        <td><%= link_to 'Edit', edit_metric_path(metric) %></td>
        <td><%= link_to 'Destroy', metric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metric', new_metric_path %>
-->
<div id="metricsIndex">
<p>
<h1><strong><font color="black">Compute Degree Metrics</font></stong></h1>
<p>
<p>
<p>
<%= form_for(:dept,:html => {:multipart=> true}) do |dept_form| %>
<p>
Please select the Department:
<%= dept_form.select(:dept_id, Dept::DEPT_OPTIONS) %>
</p>
<p>
Please select the Metric:
<%=fields_for :metric do |metric_form| %>
<%= metric_form.select(:metric_id, Metric::METRIC_OPTIONS) %>
<!-- UPLOAD A FILE -->
<p>Upload custom students file (Use Custom Department for this option)</p>
<p><%=metric_form.file_field :text%></p>
<% end %>
</p>
<p>
<%= dept_form.submit "Submit" %>
</p>
<% end %>



<!--<%=Metric::METRIC_OPTIONS["%TRACK"].to_s%>-->

<p><p><p><p><p><p><p>
<!--<a class="btn btn-default username_link"
href=<%=static_pages_metricresults_path%>>Go to Results</a>-->
<script>
function myFunction() {
alert($('#metricSel option:selected').text()+ ": "+
$('#deptSel option:selected').text());
var1=$('#deptSel option:selected').text();
var2=$('#metricSel option:selected').text();
}
</script>
</div>
