<%= form_for(@dept) do |f| %>
  <% if @dept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dept.errors.count, "error") %> prohibited this dept from being saved:</h2>

      <ul>
      <% @dept.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deptname %><br>
    <%= f.text_field :deptname %>
  </div>
  <div class="field">
    <%= f.label :dept_id %><br>
    <%= f.number_field :dept_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
