@import "bootstrap-sprockets";
@import "bootstrap";

/*variables*/
$blueblog: #13568A;



body{
  //background-image: url("http://fugelsoitconsulting.com/wp-content/uploads/cspo-fig.jpg");
  background-image: url("students.jpg");
  background-size: 100%;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  //color: #fff;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

/*b{
   color: #fff;
}*/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}


#metricsresults{
  //color: $blueblog;
}
 .jumbotron {
  margin-bottom: 0px;
  //height: 350px;
  width: 900px;
  color: white;
  text-shadow: black 0.2em 0.2em 0.2em;
  #chart_div{text-shadow: white 0.1em 0.1em 0.1em;}
  //background:transparent;
  //background-color: black;
  background-color: #A7A2A4;
  opacity: 0.85;
  }


#metricsIndex{
  //color: $blueblog;

}
/*
#hadoop {
  .break:after {
    content:"\A";
    white-space: pre;
}
}*/

#home{
  background-color: transparent;
  text-align: center;

}


//all links with this class
.username_link{
  //background-color: $blueblog;
  &:hover{
    background-color: transparent;
    //color: #34DDDD;
    color: #2A9CFF;
    text-decoration: none;
  }
}


/* footer */

/*footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}*/
footer {
   position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $blueblog;
}
footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
